# Include the README
include *.rst

# Include the license file
include LICENSE.txt

# Include version file
include VERSION.txt

# Do not distribute test data
include data
prune .idea
include docs
prune docs/_build
recursive-include docs *
recursive-include tests *.py
recursive-include src *.pyx
recursive-include src Makefile

# include *.py
include *.yaml
include Makefile
include tox.ini
exclude .coveragerc
include pylintrc
include coverage.xml